<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.exchangetoys">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/test_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/test_round"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">
      <!--  <service
            android:name=".MyFirebaseInstanceIDService"
            android:enabled="false"
            android:exported="false"></service>-->
        <service
            android:name=".notification.ForegroundService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            ></service>
        <receiver android:name=".notification.MyStartServiceReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".child.ChildMainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ParentMainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".child.ChildLoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ParentLoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ParentRegisterActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
/>
        <activity
            android:name=".ToyActivityParent"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
           />
        <activity
            android:name=".AddToyActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".child.ToyActivityChild"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".RentalToyActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
             />
        <activity
            android:name=".ChildSettings"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".child.SuggestedToys"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />
<!--        to notification -->
<!--        <service-->
<!--            android:name="NotificationService"-->
<!--            android:enabled="true"-->
<!--            android:exported="true"-->
<!--            >-->
<!--        </service>-->

<!--        <service-->
<!--            android:name=".MyFirebaseMessagingService"-->
<!--            android:permission="com.google.android.c2dm.permission.SEND">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT" />-->
<!--                <action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
<!--            </intent-filter>-->
<!--        </service>-->
    </application>

</manifest>